.header {
    //готово
    background: $bgHeaderColor;
    padding: 18px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
    }
    &__logo-img {
    }
    &__logo-text {
    }
    &__nav {
        // display: none;
        justify-content: space-between;
        display: flex;
        gap: 40px;
        align-items: center;
        flex-wrap: nowrap;

        @include _1170 {
            flex-direction: column;
            gap: 100px;
            position: fixed;
            right: 0;
            top: 0;
            background-color: $teamCardColor;
            z-index: 100;
            padding: 40px 20px;
            min-width: 320px;
            transform: translateX(100%);
            transition: all 0.3s;

            &.active {
                transform: translateX(0);
            }
        }

        @include _480 {
            height: 100vh;
        }

        @include _390 {
            gap: 40px;
        }
    }
    &__nav-list {
        display: flex;
        flex-wrap: nowrap;
        font-weight: 500;
        text-transform: capitalize;
        gap: 10px;
        @include _1170 {
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }
    &__nav-item {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.3s;
        &:hover {
            text-decoration-color: $titleColor;
        }
        @include _1170 {
            font-size: 18px;
        }

        // .header__nav-link
    }
    &__nav-link {
        white-space: nowrap;
    }
    &__btn {
        padding: 7px 17.5px;
    }
}
.burger {
    //готово
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: transparent;
    z-index: 101;
    position: fixed;
    right: 15px;
    &__line {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 3.5px;
        background-color: #fff;
        border: 1px solid #d4d4d4;
        // transition: all .3s;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.3s;
        border: 1px solid #d4d4d4;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &.active .burger__line {
        opacity: 0;
    }
    &.active::before {
        right: 15px;
        top: 50%;
        transform: rotate(45deg);
        width: 20px;
    }
    &.active::after {
        right: 15px;
        width: 20px;
        bottom: auto;
        top: 50%;
        transform: rotate(-45deg);
    }
    @include _1170 {
        display: block;
    }
}
.hero {
    //готово
    background: url('../images/hero-bg-main.png') no-repeat top/contain, $heroGradient;
    margin-bottom: 50px;
    padding-top: 50px;
    position: relative;
    @include _600 {
        margin-bottom: 25px;
        padding-top: 25px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        position: relative;
        z-index: 1;
        @include _850 {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__content {
        max-width: 560px;

        @include _850 {
            text-align: center;
        }
    }
    &__subtitle {
        color: $subdeskColor;
        font-weight: 500;
        text-transform: capitalize;
    }
    &__title {
        color: $textColor;
        font-family: 'Syne', sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px; /* 120% */
        text-transform: capitalize;
        text-shadow: 1.41px 1.41px $titleShadowColor, 2px 0 $titleShadowColor, 1.41px -1.41px $titleShadowColor, 0 -2px $titleShadowColor,
            -1.41px -1.41px $titleShadowColor, -2px 0 $titleShadowColor, -1.41px 1.41px $titleShadowColor, 0 2px $titleShadowColor;
        margin: 15px 0 40px;
        @include _600 {
            font-size: 40px;
            margin: 5px 0 15px;
            line-height: 50px; /* 120% */
        }
        @include _480 {
            font-size: 35px;
            line-height: 40px; /* 120% */
        }
    }

    &__desk {
        font-weight: 500;
        color: $titleColor;
        text-align: center;
    }
    &__content-buttons {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 60px;

        @include _850 {
            justify-content: center;
        }
        @include _600 {
            margin-top: 20px;
        }
        @include _480 {
            flex-direction: column;
        }
    }
    &__btn {
        margin-right: 15px;
        padding: 7px 15px;
        @include _480 {
            margin-right: 0;
        }
    }
    &__play {
        transition: all 0.3s ease-in;
        &:hover .hero__play-img {
            transform: scale(1.01);
        }
    }
    &__play-img {
    }
    &__link.desk {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.3s;

        &:hover {
            text-decoration-color: $titleColor;
        }
    }
    &__img-box {
        width: 50%;
        @include _600 {
            display: none;
        }
    }
    &__img {
        width: 100%;
        @include _850 {
        }
    }
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: linear-gradient(320deg, #446184 0%, rgba(106, 168, 237, 0.14) 52.05%, rgba(113, 180, 255, 0) 59.82%);
    }
}
.about {
    //готово
    background: url('../images/about bg.png') no-repeat top/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__header {
    }
    &__title {
    }
    &__desk {
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__video-box {
        display: flex;
        align-items: center;
        gap: 34px;
        margin: 70px 0 100px;
        position: relative;
        @include _850 {
            display: grid;
            grid-template-rows: 1fr 0.6fr;
            max-width: 1440px;
            padding: 0 15px;
            margin: 0;
        }
    }
    &__video-content {
        flex: 0 0 100%;
        @include _850 {
            width: 100%;
        }
    }
    &__video-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        @include _1170 {
            padding: 0 15px;
        }
        @include _850 {
            max-width: none;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    &__video-body {
        width: 50%;
        position: relative;
        @include _850 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__video-title {
        margin-top: 20px;
        @include _850 {
            text-align: center;
        }
    }
    &__video-desk {
        max-width: 500px;
        margin: 30px 0 40px;
        @include _850 {
            text-align: center;
        }
    }
    &__video-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 640px;
        gap: 20px;
    }
    &__video-item {
        padding-left: 27px;
        position: relative;
        white-space: nowrap;

        &::before {
            content: '';
            background-image: url(../icons/check.svg);
            width: 17px;
            height: 17px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        @include _1170 {
            white-space: normal;
        }
    }
    &__video-wrapper {
        flex: 0 0 50%;
        transform: translate(-100%, 0);
        overflow: hidden;
        @include _850 {
            transform: translate(0, 0);
            flex: 0 0 100%;
            aspect-ratio: 16/9;
        }
    }
    &__wrapper-body {
        max-width: 874px;
        width: 100%;
        aspect-ratio: 16/9;
        position: relative;
        transition: all 0.3s ease-in;
        border-radius: 4px 0px 0px 4px;
        overflow: hidden;

        &:hover .about__video-button-img {
            transform: scale(1.01) translate(-50%, -50%);
        }
    }
    &__video-wrapper video {
        // border-radius: 4px 0px 0px 4px;
        box-shadow: -10px 0px 15px 0px rgba(119, 133, 255, 0.04);
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        position: absolute;
        display: none;
    }
    &__video-image-img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s ease-in;
        z-index: 1;
        aspect-ratio: 16/9;
    }
    &__video-button-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 2;
    }
    &__accelerate {
    }
    &__accelerate-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 52px;

        @include _850 {
            flex-direction: column-reverse;
        }
    }
    &__accelerate-image {
        max-width: 607px;
        width: 100%;
        position: relative;
    }
    &__accelerate-img {
        width: 100%;
    }
    &__accelerate-content {
        display: flex;
        flex-direction: column;
        @include _850 {
            align-items: center;
        }
  
    }
    &__accelerate-title {
        max-width: 450px;
        @include _850 {
            text-align: center;
        }
    }
    &__accelerate-desk {
        margin: 20px 0 40px;
        @include _850 {
            text-align: center;
        }
    }
    &__btn {
        padding: 7px 19.5px;
    }
}
.service {
    //готово
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    background: url('../images/service-bg.png') no-repeat top/contain;
    &__inner {
        position: relative;
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }

    &__content-card {
        align-items: center;
        gap: 20px;
        aspect-ratio: 1/0.82;
        padding: 30px 33px 53px;
        margin: 0 30px 30px 0;

        @include _700 {
            margin-right: 40px;
            margin-left: 40px;
        }
    }
    &__image-box {
    }
    &__img {
    }
    &__card-title {
    }
    &__card-desk {
    }
    &__link {
    }
    & .swiper {
        padding-bottom: 50px;
    }
    &__shadow1 {
        top: 10%;
        left: 4%;
    }
    &__shadow2 {
        top: 2%;
        right: 2%;
        width: 385px;
        height: 385px;
    }
}
.calculator {
    background: url('../images/calculator-bg.png') no-repeat top/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
        position: relative;
    }
    &__header {
        margin-bottom: 70px;

        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__content {
        border-radius: 10px;
        overflow: hidden;
        background: #10345c;
        box-shadow: 10px 13px 26px 0px rgba(0, 0, 0, 0.11);
    }
    &__content-header {
        background-color: #00244b;
        filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.05));
        display: flex;
        align-items: center;
        gap: 1px;
        padding: 14px 0 0 0;
        border-bottom: 1px solid #000;
        @include _850 {
            padding: 1px;
        }

        @include _490 {
            flex-direction: column;
        }

        .calculator__logo {
            padding: 2px 30px 16px 30px;
            color: #fff;
            font-family: 'Syne', sans-serif;
            font-size: 34px;
            font-weight: 700;
            line-height: 50px; /* 147.059% */
            text-transform: capitalize;
            margin-right: 5px;
            @include _850 {
                font-size: 16px;
                padding: 2px 10px 4px 10px;
            }

            @include _490 {
                line-height: 26px;
                padding-top: 8px;
            }
        }

        .calculator__nav {
            display: flex;
            gap: 1px;
        }

        .calculator__button {
            padding: 20px;
            color: #e9eef4;
            font-family: 'DM Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px; /* 144.444% */
            text-transform: uppercase;
            border: 1px solid transparent;

            @include _850 {
                padding: 8px;
                font-size: 14px;
            }
            @include _390 {
                font-size: 9px;
            }

            &.active {
                border-radius: 3px 3px 0 0;
                background: #10345c;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.31);
                padding-bottom: 22px;
                margin-bottom: -2px;
                border: 1px solid #000;
                border-bottom: 1px solid transparent;
                @include _850 {
                    padding-bottom: 16px;
                    margin-bottom: -9px;
                }
                @include _490 {
                    margin-bottom: -2px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    &__content-container {
    }
    &__tab-panel {
        display: none;
        justify-content: space-between;
        gap: 24px;
        padding: 25px 35px 12px 35px;

        @include _1170 {
            padding: 12px;
        }

        &.active {
            display: flex;

            @include _1170 {
                flex-direction: column;
            }
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid #0a1136;
        // overflow: hidden;
        max-width: 330px;
        width: 100%;
        @include _1170 {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr 1fr;
            max-width: none;
        }
        @include _480 {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 2fr 1fr;
            max-width: none;
        }

        .calculator__left-img-box {
            border-radius: 4px 4px 0 0;
            background: linear-gradient(180deg, #24305a 0%, #273b5e 0.01%, #2f656d 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 23px 83px;
            @include _1170 {
                border-radius: 4px 0 0 0;
                grid-row: 1/3;
                grid-column: 1/2;
                padding: 23px;
            }
            @include _600 {
                padding: 5px;
            }

            @include _480 {
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }
        .calculator__left-img {
            display: block;
            width: 100%;
        }
        .calculator__left-cost-box {
            border-top: 1px solid #0a1136;
            border-bottom: 1px solid #0a1136;
            background: linear-gradient(0deg, #242d59 18.89%, #2f656d 89.86%);
            box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
            padding: 6px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include _1170 {
                grid-row: 3/4;
                grid-column: 1/2;
                border-top: 1px solid #0a1136;
                border-bottom: none;
            }

            @include _480 {
                grid-row: 1/2;
                grid-column: 2/4;
                border-left: 1px solid #0a1136;
                border-top: none;
            }
        }
        .calculator__left-cost-title {
            color: #e9eef4;
            font-size: 18px;
            font-weight: 500;

            @include _979 {
                font-size: 14px;
            }
        }
        .calculator__left-cost {
            color: #fdb009;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            gap: 3px;
            & svg {
                transform: translateY(10%);
            }

            & div {
                white-space: nowrap;
            }

            @include _979 {
                font-size: 16px;
            }

            @include _768 {
                flex-direction: column;
            }
            @include _480 {
                flex-direction: row;
            }
        }

        .calculator__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            padding: 44px 24px;
            border-radius: 4px;
            background: #242d59;
            flex-grow: 1;
            @include _1170 {
                border-left: 1px solid #0a1136;
                grid-row: 1/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                padding: 30px 15px;
            }
            @include _800 {
                grid-template-columns: 1fr;
                gap: 5px;
            }

            @include _480 {
                grid-row: 2/4;
                grid-column: 1/4;
                border-left: none;
                border-top: 1px solid #0a1136;
                padding: 10px;
            }
        }
        .calculator__form-label-box {
            width: 100%;
            & label {
                color: #e9eef4;
                font-weight: 500;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin-bottom: 12px;

                & svg {
                    width: 11px;
                    height: 19px;
                    @include _979 {
                        width: 8px;
                        height: 15px;
                    }
                }
                @include _979 {
                    font-size: 14px;
                }
                @include _800 {
                    margin-bottom: 3px;
                }
                @include _480 {
                    line-height: 15px;
                    margin-bottom: 2px;
                }
            }
        }
        .calculator__input-box--first {
            display: flex;
            justify-content: space-between;
        }

        .calculator__select-box {
            position: relative;

            &.active .calculator__select-body {
                display: block;
            }
        }
        .calculator__select-header {
            border-radius: 0px 4px 4px 0px;
            border: 1px solid #0a1136;
            background: transparent;
            padding: 15px 8px 10px 20px;
            width: 110px;
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            position: relative;
            @include _800 {
                height: 42px;
                padding: 8px 8px 6px 15px;
            }
        }
        .calculator__select-current {
            color: $subtitleColor;
            font-size: 20px;
            font-weight: 500;

            @include _480 {
                font-size: 16px;
            }
        }
        .calculator__select-button {
            position: relative;
            border-radius: 3px;
            border: 1px solid #0a1136;
            background: #18204a;
            width: 18px;
            height: 22px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../icons/ar-s.svg);
                width: 12px;
                height: 8px;
            }
        }
        .calculator__select-body {
            display: none;
            background: #10345c;
            border: 1px solid #0a1136;
            border-top: 1px solid transparent;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 1;
        }
        .calculator__select-item {
            padding: 6px 15px;
            &:hover {
                background: #0a113656;
                cursor: pointer;
            }
            @include _480 {
                font-size: 14px;
                padding: 2px 10px;
            }
        }

        .input-box--first {
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-bottom: 32px;
        gap: 35px;

        .calculator__right-header-list {
            display: flex;
            justify-content: flex-end;
            gap: 18px;
            @include _1170 {
                justify-content: space-around;
            }
        }

        .calculator__right-header-item {
            border-radius: 14px;
            background: #2f656d;
            box-shadow: 1px 3px 0px 0px #000;
            padding: 8px 20px;
            max-width: 325px;
            width: 100%;
            @include _600 {
                text-align: center;
            }
        }

        .calculator__right-header-title {
            padding: 7px 16px;
            color: #feb109;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 0.17px;
            text-transform: uppercase;
            border-radius: 16px;
            background: #294462;
            box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.29);
            display: inline-block;
            @include _700 {
                font-size: 12px;
            }
        }

        .calculator__right-header-desk {
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px; /* 125% */
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 6px;

            .svg1 {
                width: 28px;
                height: 18px;
                @include _700 {
                    width: 28px;
                    height: 18px;
                }
            }
            .svg2 {
                width: 21px;
                height: 32px;
                @include _700 {
                    width: 15px;
                    height: 25px;
                }
            }

            @include _700 {
                font-size: 25px;
            }

            @include _600 {
                justify-content: center;
            }
        }

        .calculator__right-row-box {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .calculator__right-row {
            border-radius: 14px 0px 0px 14px;
            overflow: hidden;
            border: 1px solid #0a1136;
            position: relative;
        }

        .calculator__right-list {
            display: flex;
            @include _768 {
                flex-direction: column;
            }
        }

        .calculator__right-item {
            padding: 18px 35px;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #0a1136;
            background: linear-gradient(146deg, #242d59 3.65%, #1e124f 63.44%, #1e124f 100%);
            width: 100%;
            white-space: nowrap;
            min-width: 248px;
            @include _850 {
                min-width: 200px;
                padding: 9px 15px;
            }
            @include _768 {
                border-left: none;
                border-top: 1px solid #0a1136;
            }
        }

        .calculator__right-item--first {
            padding: 18px 13px;
            justify-content: space-between;
            border-left: 1px solid transparent;
            background: linear-gradient(260deg, #242d59 18.89%, #2f656d 89.86%);

            position: relative;

            &::after {
                position: absolute;
                bottom: 22px;
                left: -1px;
                content: '';
                background-image: url(../icons/bgdata.svg);
                width: 90px;
                height: 33px;
            }

            @include _768 {
                border-top: none;
            }
        }

        .calculator__righ-itemt-title {
            color: #ececec;
            font-size: 16px;
            letter-spacing: 0.16px;
        }

        .calculator__righ-itemt-title--first {
            text-align: right;
        }

        .calculator__right-item-desk {
            font-size: 30px;
            font-weight: 500;
            line-height: 42px; /* 140% */
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 5px;
            @include _850 {
                font-size: 20px;
            }
        }

        .calculator__right-item-info {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            color: #ececec;
            font-weight: 500;
            letter-spacing: 0.16px;
            text-transform: capitalize;
            @include _850 {
                font-size: 12px;
                margin-left: 40px;
            }
        }

        .calculator__right-item-data {
            position: absolute;
            bottom: 28px;
            left: 26px;
            color: #e9eef4;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.16px;
            text-transform: capitalize;
            z-index: 1;
        }
        .calculator__righ-itemt-title--green {
            color: #3fb488;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px; /* 144.444% */
        }
    }
}
.products {
    //готово
    background: url('../images/team-bg.png') no-repeat top/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2px;
        position: relative;
    }
    &__content-card {
        aspect-ratio: 1/0.92;
        padding: 25px 33px;
        margin: 20px 20px 0 0;

        &::after {
        }
    }
    &__image-box {
        margin-bottom: 25px;
    }
    &__img {
    }
    &__card-title {
        margin-bottom: 20px;
        text-align: left;
    }
    &__card-desk {
        margin-bottom: 27px;
    }
    &__link {
        color: $titleColor;
        font-weight: 500;
        text-transform: capitalize;
        padding: 7px 34px 7px 16px;
        border-radius: 4px;
        border: 1px solid $subtitleColor;
        box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.28);
        max-width: 140px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            background-image: url('../icons/arrow.svg');
            width: 8px;
            height: 12px;
        }
    }
}
.token {
    //готово
    background: url('../images/token-bg.png') no-repeat bottom/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 56px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__text {
        margin-bottom: 70px;
        color: $titleColor;
        font-family: 'Syne', sans-serif;
        font-size: 34px;
        font-weight: 700;
        line-height: 46px; /* 135.294% */
        text-transform: capitalize;
        padding-left: 60px;
        max-width: 480px;
        position: relative;

        @include _600 {
            font-size: 25px;
            line-height: 35px; /* 120% */
        }
        @include _480 {
            font-size: 20px;
            line-height: 25px; /* 120% */
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: url('../icons/token.svg');
            width: 42px;
            height: 105px;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 27px;
        position: relative;
    }
    &__content-card {
        align-items: center;
        gap: 20px;

        &::after {
            display: none;
        }
        aspect-ratio: 1/0.82;
        padding: 30px 33px 53px;
    }
    &__image-box {
    }
    &__img {
    }
    &__card-title {
    }
    &__card-desk {
    }
    &__link {
    }
}
.join {
    //готово
    background: url('../images/team-bg.png') no-repeat bottom/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
    }
    &__title {
    }
    &__btn {
        margin: 0 auto;
        padding: 7px 19px;
        margin-bottom: 50px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        @include _850 {
            flex-direction: column-reverse;
        }
    }
    &__image {
        flex-shrink: 2;
        position: relative;
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__content {
        flex-shrink: 1;
    }
    &__title-box {
    }
    &__box-title {
        color: $titleColor;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 4px;
        background: $subdeskColor;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
        padding: 12px 41px;
        display: inline-block;
        @include _480 {
            display: block;
            width: 260px;
            margin: 0 auto;
        }
    }
    &__desk {
        max-width: 500px;
        width: 100%;
        margin: 20px 0 30px;
    }
    &__cost-box {
        color: $titleColor;
        font-size: 32px;
        font-weight: 700;
        line-height: 50px; /* 156.25% */
        @include _480 {
            font-size: 25px;
        }
    }
    &__cost-row {
        display: flex;
        justify-content: space-between;
    }
    &__cost {
        padding-left: 20px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../icons/dol-white.svg);
            width: 21px;
            height: 28px;
        }
    }
    &__line {
        background-image: $joinLine;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.34) inset;
        height: 20px;
        width: 100%;
        display: block;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    &__row-box {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    &__row-text {
        color: #ececec;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0.17px;
        @include _480 {
            font-size: 14px;
        }
    }
    &__row-num {
        color: $subdeskColor;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 10px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../icons/dol-orange.svg);
            width: 10px;
            height: 18px;
        }
        @include _480 {
            font-size: 14px;
        }
    }
}
.questions {
    //готово
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
}
.accordion {
    //готово
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-item {
        border-radius: 10px;
        background: linear-gradient(347deg, #ee1d78 2.6%, #e215a7 100%);
        color: $titleColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 50px; /* 250% */
        text-transform: capitalize;

        @include _768 {
            font-size: 18px;
            line-height: 25px;
        }
    }
    &-item-header {
        background: linear-gradient(347deg, #ee1d78 2.6%, #e215a7 100%);
        border-radius: 10px;
        padding: 5px 85px 5px 50px;
        font-weight: bold;
        display: flex;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        @include _768 {
            padding: 15px 60px 15px 25px;
            font-size: 16px;
        }
    }
    &-item-header::after {
        content: '';
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../icons/arrowl.svg') no-repeat;
        transform: rotate(90deg);
        width: 39px;
        height: 29px;
        @include _768 {
            right: 25px;
        }
    }
    &-item-header.active {
        background: #2a3a56;
        color: #feb109;
        font-size: 20px;
        font-weight: 500;
        line-height: 50px; /* 250% */
        text-transform: capitalize;
        border-radius: 10px 10px 0 0;
        @include _768 {
            padding: 15px 60px 15px 25px;
            font-size: 16px;
            line-height: 25px;
        }
    }
    &-item-header.active::after {
        background: url('../icons/arrow-active.svg') no-repeat;
        right: 45px;
        width: 44px;
        height: 44px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        @include _768 {
            right: 20px;
        }
    }
    &-item-body {
        border-radius: 0 0 10px 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    &-item-body-content {
        padding: 15px 210px 21px 50px;
        background: #2a3a56;
        color: #e8e8e8;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        @include _768 {
            padding: 25px;
        }
    }
}
.map {
    //готово
    padding: 50px 0 75px;
    background: url('../images/map-bg.png') no-repeat top/contain;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__title-shadow {
        display: none;
    }
    &__desk {
    }
    &__content {
        position: relative;
    }
    &__content {
        display: flex;
        justify-content: center;
    }
    &__content-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;

        & :last-child .map__content-progress span {
            display: none;
        }
    }
    &__content-item {
        display: flex;
        align-items: start;
        gap: 30px;
        justify-self: center;
        @include _600 {
            gap: 10px;
        }
    }
    &__content-left {
        text-align: right;
        flex-basis: 35%;
    }
    &__content-data {
        color: $subdeskColor;
        text-transform: capitalize;
        @include _600 {
            font-size: 14px;
        }
    }
    &__content-title {
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;

        @include _600 {
            font-size: 16px;
        }
    }
    &__content-progress {
        justify-self: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $titleColor;
        display: grid;
        place-items: center;
        position: relative;
        cursor: pointer;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;

        &.active {
            background-color: $subdeskColor;
            display: grid;
            place-items: center;
            width: 19px;
            height: 19px;
            position: relative;
            margin: 0 3px;

            &::before {
                content: '';
                position: absolute;
                background-image: url('../icons/circle.svg');
                height: 27px;
                width: 27px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
            }
        }

        .active__span {
            background-color: $subdeskColor;
        }

        &-btn {
        }
        &-check {
            display: none;
        }

        & span {
            content: '';
            width: 6px;
            background-color: $titleColor;
            position: absolute;
            top: 20px;
            z-index: -1;
        }
    }
    &__content-right {
        flex-basis: 45%;
    }
    &__content-desk {
        max-width: 410px;
        width: 100%;

        @include _700 {
            font-size: 14px;
        }
    }
}
.grow {
    //готово

    background: url('../images/grow-bg.png') no-repeat top/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__content {
        position: relative;
    }
    &__img {
        width: 100%;
    }
}
.team {
    //готово
    background: url('../images/team-bg.png') no-repeat bottom/contain;
    padding: 50px 0 75px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 30px;
        position: relative;
    }
    &__card {
        border-radius: 4px;
        background: $teamCardColor;
        aspect-ratio: 1/1.05;
        position: relative;
        overflow: hidden;
        transition: all 0.1s ease-in;

        &:hover {
            background-color: $teamCardColorHover;
        }

        &:hover .team__card-info {
            border-radius: 4px;
            background: $teamCardColorHoverGradient;
        }
        &:hover .team__photo {
            opacity: 0.4;
        }

        &:hover .team__socials {
            opacity: 1;
        }

        &:hover .team__card-info-hover {
            transform: translateY(0%);
            display: flex;
        }

        &:hover .team__info-desk {
            // transform: translateY(0%);
            opacity: 1;
        }

        &:hover .team__info-link {
            border-radius: 80px 4px;
            background: $subColor;
            box-shadow: -2px -2px 10px 1px rgba(234, 232, 232, 0.2);
            border: 1px solid transparent;
        }
    }
    &__photo {
        position: relative;
        top: 60px;
        bottom: 25px;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        object-fit: contain;
    }
    &__card-info {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: $teamCardColorGradient;
        padding: 25px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__card-info-hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-in;
        transform: translateY(-30%);
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        opacity: 0;
        transition: all 0.3s ease-in;
        margin-bottom: 23px;
    }
    &__socials-item {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 4px;
        background: #dde2e3;
        box-shadow: 0px 0px 3px 0px $socialsBoxShadow;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-in;

        &:hover {
            background: $subdeskColor;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.16) inset;
        }

        &:hover .team__socials-link path {
            fill: #fff;
        }
    }
    &__socials-link {
        position: absolute;
        inset: 0;
        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & path {
            fill: $svgColor;
        }
    }
    &__info-name {
        color: $subdeskColor;
        text-shadow: 8px 8px 23px rgba(0, 0, 0, 0.37);
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
    }
    &__info-desk {
        opacity: 0;
        text-align: center;
        transition: all 0.3s ease-in;
        margin-top: 20px;
    }
    &__info-link {
        color: $titleColor;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
        text-transform: capitalize;
        padding: 7px 24px;
        border-radius: 4px 80px;
        border: 1px solid $subdeskColor;
        box-shadow: -2px -2px 10px 1px rgba(234, 232, 232, 0.2);
        transition: all 0.3s ease-in;

        & path {
            fill: $svgColor;
        }
    }
}
.feedback {
    //готово

    background: url('../images/feedback-bg.png') no-repeat bottom/contain;
    padding: 50px 0 65px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
        position: relative;
    }
    &__header {
        margin-bottom: 115px;
        @include _600 {
            margin-bottom: 20px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__wrapper {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: $teamCardColor;
        border-radius: 4px 20% 4px 4px;
        position: relative;
        margin-top: 50px;
        margin-right: 45px;
        padding: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 105px 0 0 0;

        @include _1170 {
            margin-top: 10px;
            margin-right: 5px;
        }

        @include _480 {
            padding: 45px 15px 15px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../icons/q.svg);
            width: 114px;
            height: 93px;
            bottom: 22px;
            right: 23px;
        }

        & .swiper-slide {
            margin: 0 auto;
        }
    }
    &__photo-box {
        width: calc(40% + 30px);
        aspect-ratio: 1/1;
        background-color: transparent;
        border-radius: 50%;
        border: 15px solid $bgColor;
        overflow: hidden;
        position: absolute;
        top: -50px;
        right: -45px;
        @include _1170 {
            width: calc(30% + 20px);
            border-radius: 50% 0 50% 50%;
            top: -10px;
            right: -5px;
            border: none;
        }
        @include _700 {
        }
    }
    &__photo {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        object-fit: cover;
        background-color: #fff;

        @include _1170 {
            border: 7px solid $bgColor;
        }
    }
    &__info-box {
    }
    &__name {
        color: $subdeskColor;
        text-shadow: 8px 8px 23px rgba(0, 0, 0, 0.37);
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        line-height: 30px; /* 150% */
        text-transform: capitalize;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
    }
    &__place {
        color: $titleColor;
        font-style: italic;
        text-transform: capitalize;
    }
    &__grade {
        color: $subtitleColor;
        letter-spacing: 5px;
    }
    &__text {
        margin-top: 25px;
        color: #dfe1e2;
        font-style: italic;
        text-transform: capitalize;
    }
    & .swiper {
        padding-bottom: 75px;
    }
}
.blog {
    //готово

    padding: 50px 0 70px;
    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
    }
    &__header {
        margin-bottom: 70px;
        @include _600 {
            margin-bottom: 30px;
        }
    }
    &__title {
    }
    &__desk {
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        position: relative;
        @include _1250 {
            grid-template-columns: repeat(2, 1fr);
        }
        @include _768 {
            grid-template-columns: 370px;
            justify-content: center;
        }
        @include _480 {
            grid-template-columns: 290px;
        }
    }
    &__card-link {
    }
    &__card {
        height: 425px;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        position: relative;
        transition: all 0.5s ease;
        z-index: 3;
        background: #283752;
        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 10px;
            background: linear-gradient(325deg, #e1179a 0%, $subColor 100%);
            filter: grayscale(20%);
            transition: opacity 0.15s ease;
            opacity: 0;
            z-index: -1;
        }

        &:hover::before {
            opacity: 1;
        }

        &:hover .blog__img {
            aspect-ratio: 1/0.6;
            @include _1250 {
                aspect-ratio: 1/0.4;
            }

            @include _979 {
                aspect-ratio: 1/0.5;
            }
            @include _768 {
                aspect-ratio: 1/0.6;
            }
        }

        &:hover .blog__article-link {
            top: 0;
        }

        &:hover .blog__card-line {
            background-color: #dd18a4;
        }
    }
    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 1/0.7;
        transition: all 0.3s ease-in;
        @include _1250 {
            aspect-ratio: 1/0.5;
        }

        @include _979 {
            aspect-ratio: 1/0.6;
        }
        @include _768 {
            aspect-ratio: 1/0.7;
        }
    }
    &__card-content {
        padding: 30px 54px;
    }
    &__card-info {
        display: flex;
        justify-content: center;
        color: #e2e2e2;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        text-transform: capitalize;
        flex-grow: 1;
    }
    &__card-date {
    }
    &__card-dot {
        margin: 0 6px;
    }
    &__card-author {
    }
    &__card-line {
        width: 230px;
        height: 1px;
        background-color: $bgColor;
        display: block;
        margin: 10px auto;
        transition: all 0.3s ease-in;
        @include _480 {
            width: 180px;
        }
    }
    &__card-title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px; /* 150% */
        text-transform: capitalize;
    }
    &__article-link {
        color: $subdeskColor;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-transform: capitalize;
        display: inline-block;
        padding-right: 17px;
        margin-top: 20px;
        transition: all 0.3s ease-in;
        position: relative;
        top: 200px;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../icons/arrow-orange.svg);
            width: 7px;
            height: 11px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    &__shadow1 {
        bottom: -150px;
        left: -40px;
    }
}
.sign {
    //готово
    background: url('../images/team-bg.png') no-repeat top/contain;
    padding-top: 60px;
    margin-bottom: -160px;
    position: relative;
    z-index: 1;

    @include _600 {
        padding: 25px 0 40px;
    }
    &__inner {
        border-radius: 10px;
        background: #273651 url('../images/sign.png') no-repeat top right;
        box-shadow: 0px 35px 40px 0px rgba(0, 0, 0, 0.2);
        padding: 30px 100px;
        @include _480 {
            padding: 40px;
            background: #273651;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__desk {
        margin: 25px 0;
        max-width: 210px;
        @include _480 {
            text-align: center;
        }
    }
    &__btn {
        padding: 7px 35px 7px 13px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            background-image: url('../icons/arrow.svg');
            width: 8px;
            height: 12px;
        }
    }
    &-subtitle {
    }
    &-title {
    }
}
.footer {
    //готово
    background: url('../images/bg-footer.jpg') no-repeat;
    background-size: 100% 100%;
    &__top {
        padding: 290px 0 60px;
        @include _1170 {
            padding: 200px 0 30px;
        }
    }
    &__top-inner {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        gap: 10px;
        @include _979 {
            grid-template-columns: repeat(3, 1fr);
        }
        @include _450 {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    &__top-col {
        &:first-child {
            @include _979 {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
                justify-self: center;
                text-align: center;
            }
            @include _450 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
        }
        &:last-child {
            @include _979 {
                grid-column: 1 / 4;
            }
            @include _450 {
                grid-column: 1 / 2;
            }
        }
    }
    &__logo {
        @include _979 {
            justify-content: center;
        }
    }
    &__logo-img {
    }
    &__logo-text {
    }
    &__top-text {
        max-width: 250px;
        margin: 20px 0 30px;
    }
    &__socials {
        display: flex;
        gap: 10px;
        @include _979 {
            justify-content: space-between;
        }
    }
    &__socials-item {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 4px;
        background: linear-gradient(137deg, #fff 0%, #dde2e3 100%);
        box-shadow: 0px 0px 3px 0px $socialsBoxShadow;
        position: relative;
        z-index: 1;

        &:hover {
            background: linear-gradient(138deg, #ee1d76 0.01%, #e215a7 100%);
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.16) inset;
        }

        &:hover .footer__socials-link path {
            fill: #fff;
        }
    }
    &__socials-link {
        position: absolute;
        inset: 0;
        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__top-title {
        padding-top: 31px;
        padding-bottom: 20px;
        color: $titleColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 34px; /* 170% */
        text-transform: capitalize;
        @include _979 {
            padding-top: 0;
            text-align: center;
        }
        @include _450 {
            padding-bottom: 0;
        }
    }
    &__top-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        @include _979 {
            align-items: center;
        }
    }
    &__top-item {
        color: #cbd1d9;
        text-transform: lowercase;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.3s;

        &:hover {
            text-decoration-color: $titleColor;
        }
    }
    &__item-link {
    }
    &__form {
    }
    &__form-items {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        border: 1px solid #091237;
        background: $bgColor;
        box-shadow: 0px 0px 5px 3px #323f57 inset;
        position: relative;
    }
    &__form-input {
        background: transparent;
        flex-grow: 1;
        padding: 24px 30px;
        color: $titleColor;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        @include _450 {
            font-size: 14px;
            line-height: 18px; /* 137.5% */
            padding: 15px;
        }

        &::placeholder {
            color: $titleColor;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            @include _450 {
                font-size: 14px;
                line-height: 18px; /* 137.5% */
            }
        }
    }
    &__form-btn {
        border-radius: 0px 20px 20px 0px;
        padding: 24px 42px 24px 18px;
        border: 1px solid #091237;
        background: linear-gradient(162deg, #ee1d78 0%, #e215a7 100%);
        box-shadow: 0px 0px 10px 0px rgba(0, 41, 118, 0.16) inset;
        position: relative;
        color: #f0f0f0;
        font-weight: 500;

        @include _450 {
            padding: 24px 30px 24px 10px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translateY(-50%);
            background-image: url('../icons/send.svg');
            width: 15px;
            height: 15px;

            @include _450 {
                right: 8px;
            }
        }
    }
    &__bottom {
        padding: 30px 0 70px;
        @include _768 {
            padding: 20px 0 35px;
        }
    }
    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        @include _768 {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
    &__copy {
        color: #fff;
        text-transform: capitalize;
        @include _768 {
            text-align: center;
        }
    }
}
