// Colors

$bgColor: #111e36;
$bgHeaderColor: #132b4d;
$textColor: #e8e8e8;
$titleColor: #e9eef4;
$titleShadowColor: #00000021;
$subdeskColor: #feb109;
$subtitleColor: #e215a7;
$subColor: #ee1d78;
$svgColor: #ec1d5a;
$teamCardColor: #2a3a56;
$teamCardColorHover: rgba(61, 30, 59, 1);
$teamCardColorGradient: linear-gradient(2deg, #2a3a56 11.28%, rgba(42, 58, 86, 0) 36.55%);
$teamCardColorHoverGradient: linear-gradient(2deg, rgba(61, 30, 59, 1) 11.28%, #ee1d5a00 36.55%);
$joinLine: linear-gradient(360deg, #e215a7 0%, #e215a7 98.44%);
$btnColor: linear-gradient(334deg, #e215a7 0%, #ee1d78 100%);
$headerLogoColor: linear-gradient(144deg, #ee1d78 0%, #e215a7 100%);
$heroGradient: linear-gradient(335deg, #11203a 15.88%, #0f3661 100%);
$socialsBoxShadow: #e0e5e6;
